.app-drawer {
  margin-left: 0rem;
  transition: 450ms cubic-bezier(0.4, 0.0, 0.2, 1);
  overflow-x: hidden;
  overflow-y: hidden;
}

.app-drawer--closed {
  margin-left: -8.5rem;
}

/* .label {
  display: "inline";
  transition: 450ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.label--closed {
  display: "none";
} */

.invisible {
  visibility: hidden;
}
